In [ ]:
import re

In [ ]:
## Function Programming (map, lambda , filter)

In [ ]:
def splitF(x):
  return x.split('-')

In [ ]:
splitF('Uttam-Grade')

['Uttam', 'Grade']

In [ ]:
from posixpath import split
a = ['Uttam-Grade', 'Venom-the-alian', 'anand-solanki', 'deepti-kuch']
list(map(splitF, a))

[['Uttam', 'Grade'],
 ['Venom', 'the', 'alian'],
 ['anand', 'solanki'],
 ['deepti', 'kuch']]

In [ ]:
### lambda ( function - def)
lambda x: x.split('-')

In [ ]:
list(map(lambda x: x.split('-'), a))

[['Uttam', 'Grade'],
 ['Venom', 'the', 'alian'],
 ['anand', 'solanki'],
 ['deepti', 'kuch']]

In [ ]:
### Filter ### (it will filter the values)

def filter_values(x):

  l = ['a', 'e', 'i', 'o', 'u']
  
  if x in l:
    return True
  else:
    return False

In [ ]:
b = ['U', 'u', 'a','g', 'f', 'h' , 'i', 'j', 'k' , 'z']

In [ ]:
list(map(filter_values, b))

[False, True, True, False, False, False, True, False, False, False]

In [ ]:
list(filter(filter_values, b))

['u', 'a', 'i']

In [ ]:
'a' in 'Uttam'

True

In [ ]:
def filter_values(x):
    l=["a","e","i","o","u"]
    if x in l:
        return True
    else:
        return False

In [ ]:
a=["a","b","c","d","e"]

In [ ]:
list(filter(filter_values,a))

['a', 'e']

In [ ]:
############### List Comprehention ##########
b = [i for i in range(1,10) if i % 2==0]

In [ ]:
b

[2, 4, 6, 8]

In [ ]:
[i if i % 2==0 for i in range(1,10)]

SyntaxError: ignored

In [ ]:
a = []
for i in range(1,10):
  if i % 2 ==0:

    a.append(i)

In [ ]:
a

[2, 4, 6, 8]

In [ ]:
n = 12
[(n,'*',i,'=',n*i) for i in range(1,11)]

[(12, '*', 1, '=', 12),
 (12, '*', 2, '=', 24),
 (12, '*', 3, '=', 36),
 (12, '*', 4, '=', 48),
 (12, '*', 5, '=', 60),
 (12, '*', 6, '=', 72),
 (12, '*', 7, '=', 84),
 (12, '*', 8, '=', 96),
 (12, '*', 9, '=', 108),
 (12, '*', 10, '=', 120)]

In [ ]:
############## game of functions ############
list1 = input("enter the numbers: ")
#list2 = []
def game_of_functions(x):
  a = 0
  [list1 for i in list1]
    #list2.append(int(i))   
  return [int(i)+a for i in list1]
    

game_of_functions(list1)

enter the numbers: 123456789

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list1 = input("enter the numbers: ")

def game_of_functions(x):
  a = 0
  a = [int(i)+a for i in list1]
  return a
       
  # for i in list1 :
  #   a = int(i) + a

  # print(a)

game_of_functions(list1)

enter the numbers: 12345

[1, 2, 3, 4, 5]

In [ ]:
############ Seek(it willl set the current file location) 
####Tell ###

In [ ]:
f = open('/content/sample3.txt', 'r')
print(f.readline())
print(f.tell())

Quod equidem non reprehendo;

29

In [ ]:
f = open('/content/sample3.txt', 'r')
print(f.seek(5))
print(f.readline())

5
equidem non reprehendo;

In [ ]:
########### write a python program to perform two if condition in list comprehention
# check the values is divisible by 2 and 5 use else condtion as well

In [ ]:
## Transpose a matrix using a list comprehension
m = [[1,2], [3,4], [5,6], [7,8]]

# output [[1,3,5,7], [2,3,6,8]]

## 2_December_2022

In [ ]:
a = 10
b = 10

if a > b: 
  print(a) 

elif a == b:
  print('Equal')

elif a == 10:
  print('10')

else: 
  print(b)

Equal

In [ ]:
def xyz(n):
  if n in range(0,10):
    return True
  else:
    return False

xyz(10)

False

In [ ]:
# Write a program to calculate the sum of series up to n term. 
# For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

# a=int(input())
# b=0
# c =0
# while a>=1:
#     b = 2+(b*10)
#     c+=b
#     a-=1
# print(c)